*{margin: 0;padding: 0;box-sizing: border-box;}
.container{
    width: 300px;
    margin: 20px auto;
}
.window{
    height: 300px;
    overflow: hidden;
}
.images{
    display: flex;
    transition: all 1s;
}
.images > img{
    width: 100%;
    height: 100%;
}
